@use "../abstracts/index" as *;

:root {
  // font-size
  --fs-100: 1rem;
  --fs-200: 1rem;
  --fs-300: 1rem;
  --fs-400: 1rem;
  --fs-500: 1.5rem;
  --fs-800: 3.5rem;
  --fs-900: 5rem;

  // letter-spacing
  --lt-1: 2.36px;
  --lt-2: 2.7px;
  --lt-3: 4.72px;

  @include min-breakpoints(small) {
    --fs-100: 1rem;
    --fs-200: 1.25rem;
    --fs-300: 1.25rem;
    --fs-400: 1.5rem;
    --fs-500: 2.5rem;
    --fs-800: 5rem;
    --fs-900: 9.375rem;
  }

  @include min-breakpoints(large) {
    --fs-100: 1.125rem;
    --fs-200: 1.75rem;
    --fs-300: 2rem;
    --fs-400: 2rem;
    --fs-500: 3.5rem;
    --fs-800: 6.25rem;
    --fs-900: 9.375rem;
  }
}
